# MongoDB Connection String
# Example: mongodb+srv://user:pass@cluster.mongodb.net/dbname
MONGODB_URI=

# Supabase Connection Details
# These are used by the client-side services
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
